<section class="section has-background-grey has-text-white has-text-weight-light">
  <div class="columns">
    <div class="column">
      <h5 class="title is-5 has-text-white">La Grande Via</h5>
        <span>
        Questo sito web non dà consigli medici, né suggerisce l'uso di tecniche come forma di trattamento per problemi fisici, per i quali è invece necessario il parere di un medico. Nel caso si decidesse di applicare le informazioni contenute in questo sito, lo stesso non se ne assume le responsabilità. L'intenzione del sito è quella di essere illustrativo, non esortativo né didattico.
        </span>
    </div>
    <div class="column">
      <h5 class="title is-5 has-text-white">Teniamoci in contatto</h5>
      <span>Link social</span>
    </div>
    <div class="column">
      <h5 class="title is-5 has-text-white">Come sostenerci</h5>
      <span>5x1000</span>
    </div>
   <!-- <div class="column">
      <h5 class="title is-5 has-text-white">Contatti</h5>
        <span class="icon">
          <i class="far fa-envelope"></i>
        </span>
        info@lagrandevia.it<br><br>
        <span class="icon">
          <i class="fas fa-mobile-alt"></i>
        </span>
        +39 324 7929144<br><br>
        <span class="icon">
          <i class="fas fa-map-marked-alt"></i>
        </span>
        Via Gerole, 21 | Prevalle 25080 (Bs)
    </div>-->
    <div class="column">
      <h5 class="title is-5 has-text-white">Newsletter</h5>
      <span>
        Iscriviti alla nl per rimanere aggiornato.
      </span>
    </div>
  </div>
</section>

<!--<footer class="footer">
  <div class="content has-text-centered">
    <p>
      © Copyright 2018 Associazione non a scopo di lucro LA GRANDE VIA. Tutti i diritti riservati | P.IVA 03710450986 | C.F. 96037550173
    </p>
  </div>
</footer>-->
