<section class="hero is-medium is-primary">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="dropdown-navigation">
      <div class="container">
        <div class="navbar-brand">
          <a href="/home">
            <img alt="Logo" src="../../assets/website/LGV_logo_neg_280.png" style="width: 12rem; padding-top: 15px">
          </a>
          <span class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Associazione
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Chi Siamo
                </a>
                <a class="navbar-item">
                  Mission
                </a>
                <a class="navbar-item">
                  Fondatori
                </a>
                <a class="navbar-item">
                  Statuto
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Percorsi
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Cucina Macro-mediterranea
                </a>
                <a class="navbar-item">
                  La Mausolea
                </a>
                <a class="navbar-item">
                  Il Respiro della Terra
                </a>
                <a class="navbar-item">
                  La Grande Via dei Piccoli
                </a>
                <a class="navbar-item">
                  Master
                </a>
                <a class="navbar-item">
                  La Guida Nomade
                </a>
              </div>
            </div>
            <a class="navbar-item">
              Viaggi
            </a>
            <a class="navbar-item">
              Editoria
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Eventi
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Prossimi Eventi
                </a>
                <a class="navbar-item">
                  Primavera | Estate
                </a>
                <a class="navbar-item">
                  Autunno | Inverno
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                News&Press
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  News
                </a>
                <a class="navbar-item">
                  Rassegna Stampa
                </a>
              </div>
            </div>
            <a class="navbar-item">
              Contatti
            </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted is-rounded">
              <!--<a class="button is-primary is-inverted is-rounded is-outlined">  -->
                <span class="icon">
                  <i class="far fa-user"></i>
                </span>
                <span>DIVENTA SOCIO</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Longevità in Salute
      </h1>
      <h2 class="subtitle">
        Scegli la tua Via
      </h2>
    </div>
  </div>
</section>






<!--<section class="hero is-primary is-medium">
  &lt;!&ndash; Hero head: will stick at the top &ndash;&gt;
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img alt="Logo" src="../../assets/website/LGV_logo_dark_280.png">
          </a>
          <a class="navbar-item is-active">
            Home
          </a>
          <a class="navbar-item">
            Examples
          </a>
          <a class="navbar-item">
            Documentation
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="far fa-user"></i>
                </span>
                <span>Diventa Socio</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  &lt;!&ndash; Hero content: will be in the middle &ndash;&gt;
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Longevità
      </h1>
      <h2 class="subtitle">
        e salute.
      </h2>
    </div>
  </div>
</section>-->
